# Sensitive stuff (logs/accts)
update.sh
*.tar.gz
log/*.log
lib/logs/logs
*.acct
*.ofile
*.pfile

# App
bin/

# Ide
.c9/*
.DS_Store
*/.DS_Store
/cmake-*
.idea*

# Python
*.pyc

# autodoc
html/pydocs/*.html

# Prerequisites
*.d

# Build results
src/.sconsign.dblite
src/NakedMud
src/ngenmud

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
